# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/aws.xml
/misc.xml
/modules.xml
/vcs.xml
/vue-virtual-scroll-grid.iml
/git_toolbox_prj.xml

