name: Verify PRs

on:
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  verification:
    name: Test & Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: "package.json"
          cache: "npm"

      - name: Install dependencies
        run: npm --no-update-notifier --no-fund --no-audit ci

      - name: Lint
        run: npm run lint

      - name: Unit Test
        run: npm test

      - name: Build
        run: npm run build
